.small-image {
  height: 100px;
  aspect-ratio: 1;
  margin: 0 15px;
  border: 1px solid grey;

  transition: transform 0.2s;
}
.small-image:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}
