<div class="d-flex">
  <div class="d-block border border-secondary rounded-3 text-start p-5 m-auto">
    <h3 class="text-center mb-4">Register</h3>

    <form [formGroup]="form" (ngSubmit)="handleRegister()">
      <div class="mb-2">
        <label for="name" class="form-label">Name</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
        />
        @if(name?.invalid && name?.touched){
        <div class="text-danger mt-2">
          @if (name?.hasError('required')) { Field is required }@else if
          (name?.hasError("minlength")) { Min length is 3 }
        </div>
        }
      </div>
      <div class="mb-2">
        <label for="email" class="form-label">Email address</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
        />
        @if(email?.invalid && email?.touched){
        <div class="text-danger mt-2">
          @if (email?.hasError('required')) { Field is required }@else if
          (email?.hasError("email")) { Email is invalid }
        </div>
        }
      </div>
      <div class="mb-2">
        <label for="username" class="form-label">User Name</label>
        <input
          formControlName="username"
          type="text"
          class="form-control"
          id="username"
          aria-describedby="emailHelp"
        />
        @if(username?.invalid && username?.touched){
        <div class="text-danger mt-2">
          @if (username?.hasError('required')) { Field is required }@else if
          (username?.hasError("minlength")) { Min length is 3 }
        </div>
        }
      </div>
      <div class="mb-2">
        <label for="password" class="form-label">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
        />
        @if(password?.invalid && password?.touched){
        <div class="text-danger mt-2">
          @if (password?.hasError('required')) { Field is required }@else if
          (password?.hasError("minlength")) { Min length is 8 }
          @else if (password?.hasError("passwordStrength")) { Password is weak }
        </div>
        }
      </div>
      <div class="mb-5">
        <label for="confirmPass" class="form-label">Confirm Password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          id="confirmPass"
        />
        @if(confirmPassword?.invalid && confirmPassword?.touched){
        <div class="text-danger mt-2">
          @if (confirmPassword?.hasError('required')) { Field is required }
          @else if(confirmPassword?.hasError("minlength"))  { Min length is 8 }
          @else if(confirmPassword?.hasError("misMatch"))  { Passwords do not match }
        </div>
        }
      </div>

      <button type="submit" class="btn btn-success w-100">Register</button>
    </form>
  </div>
</div>
<div class="d-flex mt-4">
  <h4 class="m-auto">
    Already have account?
    <a
      [routerLink]="['../login']"
      class="link-body-emphasis link-underline-opacity-0-hover"
      >Login</a
    >
  </h4>
</div>
